span {
	font-size: 15px;
	margin: 0 5% 5% 5%;
}

.jumbotron {
	margin: 0 5% 5% 5%;
}

.panel-primary {
	margin: 0 5% 0 5%;
}

.panel-default {
	margin: 0 5% 0 5%;
}

.panel-body {
	margin: 0 5% 0 5%;
}

h2 {
	margin-left: 40%;
}