    body {
        max-width: 600px;
        margin: 20px auto;
        background-color: black;
        color: white;
    }

    body,
    h1,
    h2,
    p {
        color: white;
    }

    h1 {
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        text-align: center;
    }

    h1 i {
        color: red;
    }

    a {
        font-family: 'Press Start 2P', cursive, sans-serif;
        font-size: 28px;
        display: block;
        margin-bottom: 10px;
    }

    a:first-of-type:hover {
        background: red;
    }

    a:hover:not(.music) {
        border:3px solid white;
        padding:5px;
    }

    a:nth-child(4) {
        color:orange;
    }